@import vars

.filter-and-sort
    padding: 16px 0
    display: flex

.filter
    margin-right: 304px
    position: relative
    font-weight: 600
    font-size: 14px
    line-height: 17px
    & > :first-child
        margin-left: 16px

    &__button
        width: 73px
        cursor: pointer
        & > :first-child
            margin-right: 11px

    &__menu
        width: 360px
        padding: 16px
        position: absolute
        top: -16px
        z-index: 1
        background: #FFFFFF
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21)

    &__dropdown
        margin-top: 16px
        & summary
            cursor: pointer
            font-size: 14px
            font-weight: normal
            line-height: 17px
            border-left: 5px solid $mainColor
            & span
                padding: 11px
                display: inline-block
                width: 100%
                height: 100%
                border-bottom: 1px solid #EBEBEB

        &[open] summary
            color: $mainColor

        & ul
            margin-left: 16px
            margin-top: 24px
            margin-bottom: 24px
            list-style-type: none
            & li
                margin-bottom: 11px
                & a
                    text-decoration: none
                    font-size: 14px
                    font-weight: normal
                    line-height: 17px
                    color: #6F6E6E
                    &:hover
                        color: $mainColor

.sort
    font-size: 14px
    line-height: 17px
    color: #6F6E6E
    display: flex

    &__value
        position: relative
        & > .sort__button > :first-child
            margin-right: 10px
        &:not(:last-child)
            margin-right: 28px

    &__button
        cursor: pointer

    &__menu
        padding: 9px 30px 9px 9px
        display: flex
        flex-wrap: wrap
        position: absolute
        top: 22px
        z-index: 1
        background: #FFFFFF
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21)
        & input
            margin-right: 10px
        & div
            display: flex
        & div:not(:last-child) input
            margin-bottom: 9px

@media (max-width: 1200px)
    .filter-and-sort
        justify-content: space-between

    .filter
        margin-right: 0

    .sort__value:last-child > .sort__menu
        right: 0

@media (max-width: 767px)
    .filter__button > :first-child
        display: none

    .filter__icon
        width: 38px
        height: 25px

    .sort
        font-size: 12px
        line-height: 14px
        &__value:not(:last-child)
            margin-right: 24px
        &__value > .sort__button > :first-child
            margin-right: 9px

@media (max-width: 374px)
    .sort__value:not(:last-child)
        margin-right: 14px

    .sort__value > .sort__button > :first-child
        margin-right: 2px
